body{
  background-color: #C390D4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#canvas{
  border: 2px solid red;
  background-color: black;
  border-radius: 4%;
}

#game-button{
  position: absolute;
  left: 42%;
  top: 90%;
}

.canvas-div{
  position: relative;
}